.block_chatbot-chatwindow {
    /* height: 100%; */
    display: flex;
    flex-flow: column nowrap;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.block_chatbot-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: lightgray;
}

/* stylelint-disable declaration-no-important */
.block_chatbot-hidden {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    padding: 0 !important;
}
/* stylelint-enable declaration-no-important */

.block_chatbot-messagelist {
    padding: 1.5em;
    flex-grow: 1;
    flex-flow: row nowrap;
    overflow-y: auto;
    width: 40vw;
    height: 40vh;
}
.block_chatbot-inputContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    width: 100%;
    background-color: lightgrey;
    padding: 0.75em;
}

.block_chatbot-speech-bubble {
    position: relative;
    border-radius: .4em;
    clear: both;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 0.5em;
    font-size: 1rem;
}
.block_chatbot-speech-bubble::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 21px solid transparent;
    border-top: 0;
    margin-top: -10px;
}

.block_chatbot-system {
    background: #e5e5ea;
    text-align: left;
    float: left;
}
.block_chatbot-system:after {
    left: 0;
    border-right-color: #e5e5ea;
    border-left: 0;
    margin-left: -20px;
}
.block_chatbot-user {
    background: #ccf2ff;
    text-align: right;
    float: right;
}
.block_chatbot-user:after {
    right: 0;
    border-left-color: #ccf2ff;
    border-right: 0;
    margin-right: -20px;
}

.block_chatbot-message {
    padding: 0.5em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.block_chatbot-systemMsg {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    border-radius: .4em;
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.block_chatbot-answer_candidate_list {
    display: flex;
    flex-flow: row wrap;
    gap: 0.2em;
    align-items: center;
}
.block_chatbot-answer_candidate {
    color: black;
    border-radius: 2px;
    background-color: #f5f5fa;
    padding: 0.3em;
    cursor: pointer;
}
.block_chatbot-answer_candidate:hover {
    background-color: #ccf2ff;
}