.block_chatbot-chatwindowInner {
    /* height: 100%; */
    display: flex;
    flex-flow: column nowrap;
    /* border-style: solid; */
    /* border-width: px; */
    /* border-color: darkgray; */
    right: 1em;
    bottom: 1em;
    position: fixed;
    z-index: 9999;
    background-color: white;
    box-shadow: 1px 1px 7px rgb(0 0 0 / 0.5);
    border-radius: 1em;
}
.block_chatbot-big {
    top: 10%;
    left: 15%;
    bottom: 1em;
    right: 1em;
}
.block_chatbot-default {
    width: 35vw;
    height: 60vh;
    bottom: 1em;
    right: 1em;
}


.block_chatbot-headerMaximized {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: lightgray;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    align-items: center;
}

.block_chatbot-headerButton {
    background-color: transparent;
    border: none;
    width: 1.5em;
    height: 1em;
    font-weight: bold;
}
.block_chatbot-headerButton:hover {
    stroke: #399be2;
}

.block_chatbot-maximizeButton {
    background-color: #399be2;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    display: flex;
    flex-flow: column nowrap;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    right: 1em;
    bottom: 1em;
    position: fixed;
    z-index: 9999;
    box-shadow: 1px 1px 7px rgb(0 0 0 / 0.3);
    padding: 1em;
}

.block_chatbot-header_text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* stylelint-disable declaration-no-important */
.block_chatbot-hidden {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    padding: 0 !important;
}
/* stylelint-enable declaration-no-important */

.block_chatbot-messagelist {
    padding: 1.5em;
    flex-grow: 1;
    flex-flow: row nowrap;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}
.block_chatbot-inputContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    width: 100%;
    background-color: lightgrey;
    padding: 0.75em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.block_chatbot-text_input {
    flex-grow: 1;
    margin-right: 0.5em;
    border-radius: 1em;
    border-width: 0;
    padding-left: 0.5em;
}
.block_chatbot-text_send {
    background-color: #399be2;
    border-width: 0;
    border-radius: 50%;
    padding: .5em;
    color: #fff;
    width: 2.5em;
    height: 2.5em;
}
.block_chatbot-text_send:hover {
    background-color: orange;
}

.block_chatbot-speech-bubble {
    position: relative;
    border-radius: 1em;
    clear: both;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    /* padding-bottom: 0.5em; */
    font-size: 1rem;
    box-shadow: 0 0 0.5em #bdbdbd;
}

.block_chatbot-system {
    background: #399be2;
    text-align: left;
    float: left;
    color: white;
    border-top-left-radius: 0;
}
.block_chatbot-system a {
    text-decoration: underline;
    color: white;
}

.block_chatbot-user {
    background: white;
    text-align: right;
    float: right;
    border-top-right-radius: 0;
}


.block_chatbot-message {
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.block_chatbot-message a {
    text-decoration: underline;
    color: white;
}

.block_chatbot-answer_candidate_list {
    display: flex;
    flex-flow: row wrap;
    gap: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    align-items: center;
}
.block_chatbot-answer_candidate {
    color: black;
    border-radius: 0.75em;
    background-color: #f5f5fa;
    padding-left: 0.4em;
    padding-top: 0.3em;
    padding-right: 0.4em;
    padding-bottom: 0.3em;
    cursor: pointer;
    font-size: 0.75em;
}
.block_chatbot-answer_candidate:hover {
    background-color: orange;
    color: white;
}

/*
* DONUT CHART
*/
.block_chatbot-svg-chart {
    height: 7em;
    margin: 0 auto;
    animation: block_chatbot-donutfade 1s;
}

@keyframes block_chatbot-donutfade {
    0% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

.block_chatbot-donut-ring {
    stroke: #ebebeb;
}

.block_chatbot-donut-segment-outer {
    transform-origin: center;
    stroke: #8de239;
    /* animation: donutOuter 3s; */
}

.block_chatbot-donut-segment-inner {
    transform-origin: center;
    stroke: orange;
    /* animation: donutInner 3s; */
}

.block_chatbot-donut-percent {
    animation: block_chatbot-donutfadelong 1s;
}

@keyframes block_chatbot-donutfadelong {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*
@keyframes donutOuter {
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: var(--donutOuterFill, 0), var(--donutOuterEmpty, 100);
    }
}

@keyframes donutInner {
    0% {
        stroke-dasharray: 0, 75;
    }
    100% {
        stroke-dasharray: var(--donutInnerFill, 0), var(--donutInnerEmpty, 75);
    }
} */

.block_chatbot-donut-text {
    font-family: Arial, Helvetica, sans-serif;
    fill: orange;
}

.block_chatbot-donut-label {
    font-size: 0.28em;
    font-weight: 700;
    line-height: 1;
    fill: #000;
    transform: translateY(0.25em);
}

.block_chatbot-donut-percent {
    font-size: 0.5em;
    line-height: 1;
    transform: translateY(0.5em);
    font-weight: bold;
}

.block_chatbot-donut-data {
    font-size: 0.12em;
    line-height: 1;
    transform: translateY(0.5em);
    text-align: center;
    text-anchor: middle;
    color: #666;
    fill: #666;
    animation: block_chatbot-donutfadelong 1s;
}

.block_chatbot-plotly-chart {
    width: 28vw;
    height: 30vh;
}